<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<beans:import resource="hibernate-beans.xml" />

	 <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login" filters="none" />
        <intercept-url pattern="/logout" filters="none" />
        <intercept-url pattern="/signup**" filters="none" />
        <intercept-url pattern="/resources/**" filters="none" />
        <intercept-url pattern="/favicon**" filters="none" />
        <intercept-url pattern="/" access="hasAnyRole('ROLE_USER','ROLE_MANAGER')"/>
<!--         <intercept-url pattern="/html5expense/expenses/approvals" access="hasRole('ROLE_MANAGER')" /> -->
<!--         <intercept-url pattern="/html5expense/expense/**/state**" access="hasRole('ROLE_MANAGER')" /> -->
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <form-login login-page="/login" default-target-url="/welcome"
            authentication-failure-url="/loginfailed" />
        <logout logout-success-url="/logout" />
        <session-management invalid-session-url="/sessiontimeout" >
            <concurrency-control max-sessions="1" />
        </session-management>
    </http>
    
	<beans:bean id="webexpressionHandler"
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="md5" />
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select User_No, PASSWORD,ACTIVE from USER where user.User_No = ?"

				authorities-by-username-query="select u.User_No, ur.USER_ROLE from user u, userrole ur where ur.USER_ROLE_ID=u.USER_ROLE_ID and u.User_No =?" />
		</security:authentication-provider>
	</security:authentication-manager>

</beans:beans>